.pagination {
  display: inline;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.paginationActive {
  position: relative;
  padding: 0.5rem 0.75rem;
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.paginationActive:hover {
  text-decoration: underline;
}

.paginationInactive {
  position: relative;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  color: #5cb85c;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.paginationInactive:hover {
  color: #3d8b3d;
  background-color: #eceeef;
  border-color: #ddd;
  text-decoration: underline;
}
