.wrapper {
  display: flex;
  margin-top: 24px;
  margin-right: 125px;
  margin-left: 125px;
  padding: 10px;
}
.leftSide {
  width: 73%;
  padding: 10px;
  margin-bottom: 100px;
}
.rightSide {
  width: 27%;
  padding: 10px;
}
/* .pagination {
  margin: 16px 0;
} */
