.wrapper {
  display: flex;
  margin-top: 24px;
  margin-right: 128px;
  margin-left: 128px;
  padding: 10px;
}
.leftSide {
  width: 75%;
  padding: 10px;
}
.rightSide {
  width: 25%;
  padding: 10px;
}
.pagination{
   margin-right: 128px;
  margin-left: 128px;
}