.registerWrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.register {
  margin-bottom: 8px;
  color: #373a3c;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.loginLink {
  color: #5cb85c;
}

.loginLink:hover {
  color: #3d8b3d;
  text-decoration: underline;
}

.btn {
  margin-right: -65px;
  display: flex;
  justify-content: flex-end;
}
