.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: auto;
}

.login {
  margin-bottom: 8px;
  color: #373a3c;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.registerLink {
  color: #5cb85c;
}

.registerLink:hover {
  color: #3d8b3d;
  text-decoration: underline;
}
