.banner {
  background: #5cb85c;
  box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%),
    inset 0 -8px 8px -8px rgb(0 0 0 / 30%);
  padding: 0px;
  text-align: center;
  padding: 32px;
  margin-bottom: 32px;
}
/* inside banner Text  */
.header {
  color: #ffffff;
  font-size: 56px;
  font-family: 'Titillium web', sans-serif;
  padding-bottom: 8px;
  font-weight: 700;
}
.paragraph {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  font-size: 22px;
}
.wrapper {
  display: flex;
  padding: 15px;
  margin-top: 24px;
}
/* image and text on left side */
.preview {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.1);
}
/* Button on right side */
.rightButton {
  display: flex;
  align-items: flex-start;
}

.articleMeta {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.info {
  margin: 0 24px 0 4.8px;
  display: inline-block;
  vertical-align: middle;
}
.infoArticle {
  margin-right: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #5cb85c;
}
.infoDate {
  color: #bbb;
  font-size: 13px;
}


/* Article  */
.headingText {
  display: flex;
  margin-left: 20px;
  margin-right: 25px;
  flex-direction: column;
}

.title {
  color: #373a3c;
  font-size: 24px;
  font-family: 'Titillium web', sans-serif;
  margin-block-end: 3px;
  font-weight: 400;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.description {
  color: #999;
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
}
.readMoreTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.read {
  color: #bbbbbb;
  font-size: 12.8px;
  font-family: 'Source Sans Pro', sans-serif;
}
.tagsWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.sidebarWrapper {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}
.sidebar {
  padding: 5px 10px 10px 10px;
  background-color: #f3f3f3;
  border: 4px;
}
