* {
  padding: 0px;
  margin: 0px;
}

p {
  font-family: 'Source Serif Pro', serif;
}
h1 {
  font-family: sans-serif, 'Source Sans Pro';
  font-weight: 600;
  font-size: 44.8px;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

code {
  font-family: sans-serif, 'Source Sans Pro', 'Titillium Web';
}
